# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# timestamp型のデフォルト値を指定
explicit_defaults_for_timestamp = true

# ファイル出力セキュリティ設定(""で無効)
secure-file-priv = ""

# SQLモード
sql_mode = 'IGNORE_SPACE,PIPES_AS_CONCAT'

# ServerID(インスタンス固有)
# (10 + 1 ※. slaveが増えたらここの数値も増やす)
server-id = 101

# 文字コード
character-set-server = utf8mb4
collation-server = utf8mb4_ja_0900_as_cs
init-connect = SET NAMES utf8mb4

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

## 認証方式設定
# (mysql_native_password OR caching_sha2_password)
# laravelで使用できない為、mysql_native_passwordを使用する
default-authentication-plugin = mysql_native_password

# Error Log
log-error = /var/log/mysql/mysql-error.log

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# General Log
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# Binary Log
#log-bin=master-bin
#バイナリログのファイル名を記録したindexファイル名
#log-bin-index=master-bin
#log-bin-trust-function-creators = 1
# バイナリログ有効期限(デフォルト30日)
#binlog_expire_logs_seconds = 18000

# コネクト設定
max_connections    = 2000
max_connect_errors = 100

## 各種設定
max_allowed_packet = 32M

# Custom config should go here
#!includedir /etc/mysql/conf.d/
